{
  "extends": ["airbnb-base", "prettier"],
  "plugins": ["prettier"],
  "env": { "es6": true, "browser": true },
  "overrides": [{
    "files": ["**/__tests__/*.js"],
    "env": { "jest": true }
  }],
  "rules": {
    "prettier/prettier": "error",
    "max-len": [
      "error",
      {
        "code": 100,
        "ignoreComments": true,
        "ignoreStrings": true,
        "ignoreTemplateLiterals": true
      }
    ],
    "import/no-extraneous-dependencies": [
      "error",
      { "devDependencies": ["**/__tests__/*.js", "**/*.config.js"] }
    ],
    "no-plusplus": ["error", { "allowForLoopAfterthoughts": true }]
  }
}
